/* main.css */

/* 导入其他样式文件 */
@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('./components/components.css');
@import url('./components/slider.css');

/* 页面级样式 */
:root {
  --text2: #61666D; /* 定义颜色变量 */
}
html{
    margin: 0;
    height: auto;
  }
body{
    width: 100%;
    min-width: 1100px;
    background-color: #fff;
    color: var(--text-color);
    margin: 0;
    height: auto;

    /* font-family: "Microsoft YaHei"; */
}
