.modal-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 2; /* 确保覆盖在其他内容之上 */
}

.login-modal
{
    display: flex;
    top: 50%;
    left: 20%;
    width: 820px;
    height: 430px;
    border-radius: 12px;
    padding: 52px 65px 29px 92px ;
    box-sizing: border-box;
    position: fixed;
    transform: translate(-50%, -50%); /* 居中对齐 */
    top: 50%;
    left: 50%;
    background-color: white;
    z-index: 2;
}

.login-modal-close-button{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 3%;
    top: 5%;
    cursor: pointer;
}

.login-modal-left-section{
    width: 173px;
    height: 100%;
    display: block;
}

.login-modal-left-section-header{
    line-height: 16px;
    margin-bottom: 23px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: rgb(80, 80, 80);
    text-align: center;
}

.qrcode-box{
    position: relative;
    margin-left: -82px;
    height: 173px;
    width: 330px;
    background-image: url('../../assets/images/login-box/login-logo.png');
    background-size: cover;
}

.login-modal-left-section-header-buttom{
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
}

.login-modal-left-section-header-buttom p{
    line-height: 19px;
    margin: 0;
    color: rgb(80, 80, 80);
}

.login-modal-left-section-header-buttom a{
    color: rgb(0, 174, 236);
    margin-left: 3px;
    cursor: pointer;
}

.login-modal-middle-section{
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-dividing-line{
    width: 1px;
    height: 228px;
    background-color: rgb(227, 229, 231);
    margin-bottom: 30px;
}

.login-modal-right-section{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-method-choose{
    height: 44px;
    display: flex;
    justify-content: center;
}

.login-tab-wp{
    width: 187px;
    height: 20px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.login-tab-item{
    color: rgb(80, 80, 80);
    width: 72px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
}

.active-login-tab{
    color: rgb(0, 174, 236);
}

.login-tab-dividing-line{
    width: 1px;
    height: 20px;
    background-color: rgb(227, 229, 231);
}

.login-box{
    height: 150px;
}

.login-box-2{
    height: 150px;
    display: none;
}

.login-box-form{
    width: 398px;
    height: 88px;
    border-radius: 8px;
    border: 0.677777px solid rgb(227, 229, 231);
    position: relative;
}

.login-box-form::before{
    content: "";
    position: absolute;
    width: 398px;
    height: 1px;
    background-color: rgb(227, 229, 231);
    top: 50%;
}

.form-item{
    box-sizing: border-box;
    padding: 12px 20px;
    height: 50%;
    display: flex;
    align-items: center;
}



.drop-down-select{
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    margin-left: 5px;
    padding-top: 1px;
    cursor: pointer;
    position: relative;
}

.dropdown-arrow{
    stroke: rgb(33, 33, 33);
}

.drop-down-options{
    position: absolute;
    width: 218px;
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 0.677777px solid rgb(227, 229, 231);
    transform: translateX(-50%);
    top: 30px;
    padding-top: 3px;
}

.drop-down-option{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    font-size: 14px;
}

.drop-down-option:hover{
    background-color: rgb(245, 247, 250);
}

.form-info,
.form-info-verification{
    box-sizing: border-box;
    display: flex;
    color: rgb(33, 33, 33);
    font-size: 14px;
    font-weight: 500;
    width: 28px;
    align-items: center;
    justify-content: center;
}

.form-info-verification{
    width: 48px;
    justify-content: start;
}

.form-item input{
    height: 20px;
    flex: 1;
    border: none;
    margin-left: 20px;
    outline: none;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.form-item input::placeholder{
    color: rgb(200, 200, 200);
    font-weight: 400;
    font-size: 14px;
}

.get-verification-button{
    width: 90px;
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(200, 200, 200);
    cursor: pointer;
    font-weight: 500;
    color: rgb(0, 174, 236);
}

.get-verification-button::before{
    content: "";
    position: relative;
    background-color: rgb(227, 229, 231);
    width: 0.5px;
    height: 26px;
    left: -30px;
}

.password-toggle{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.close-eye-icon{
    display: block;
}

.open-eye-icon{
    display: none;
}

.close-eye-icon:hover,
.open-eye-icon:hover{
    stroke: rgb(0, 174, 236);
}

.forget-password-btn{
    width: 70px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 174, 236);
}

.login-box-button-wp{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

.login-box-button-wp-2{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

.login-box-button-register,
.login-box-button-login{
    width: 194px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 0.677777px solid rgb(227, 229, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-box-button-register{
    color: rgb(24, 25, 28);
}

.login-box-button-login{
    background-color: rgb(0, 174, 236);
    color: white;
}

.login-box-button-register:hover{
    background-color: rgb(245, 247, 250);
    cursor: pointer;
}

.login-box-button-login:hover{
    background-color: rgb(0, 185, 236);
    cursor: pointer;
}

.other-login-method{
    width: 347px;
    height: 56px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-login-method-title{
    color: rgb(148, 153, 160);
    display: flex;
    align-items: start;
    height: 16px;
    font-size: 13px;
    font-weight: 500;
}

.other-login-method-port{
    width: 100%;
    height: 28px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.port-button{
    box-sizing: border-box;
    display: flex;
    justify-self: center;
    align-items: center;
    color: rgb(148, 153, 160);
    width: 88px;
    height: 100%;
    margin-right: 27px;
    font-size: 13px;
    font-weight: 500;
}

.port-button img{
    height: 28px;
    width: 28px;
    margin-right: 8px;
}

.login-agreement{
    position: absolute;
    bottom: 7%;
    color: rgb(153, 153, 153);
    font-size: 13px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.login-agreement p{
    margin: 0;
    line-height: 19px;
    font-weight: 500;
}

.login-agreement span{
    color: rgb(0, 174, 236);
    cursor: pointer;
}

.bottom-left-picture-1,
.bottom-left-picture-2{
    position: absolute;
    border-bottom-left-radius: 8px;
    width: 115px;
    height: 105px;
    bottom: 0;
    left: 0;
}

.bottom-right-picture-1,
.bottom-right-picture-2{
    position: absolute;
    border-bottom-right-radius: 8px;
    width: 115px;
    height: 113px;
    bottom: 0;
    right: 0;
}

.bottom-left-picture-2,
.bottom-right-picture-2{
    display: none;
}