.ad-column{
  display: flex;
    grid-column: span 2;
    grid-row: span 2;
    height: 83%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
 
 /* 图片容器 */
 .slides {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
    height: 77%;
  }

  .slides img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    flex-shrink: 0;
  }

  /* 左右切换按钮 */
  .btn {
    position: absolute;
    height: 28px;
    width: 28px;
    bottom: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
  }

  .btn svg {
    min-width: 12px;
    min-height: 12px;
  }
  

  .btn:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  .prev {
    right: 50px;
  }

  .next {
    right: 10px;
  }

  /* 圆点指示器 */
  .dots {
    position: absolute;
    bottom: 20px;
    left: 17%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background 0.3s;
  }

  .dot.active {
    background: white;
    width: 13px;
    height: 13px;
  }

  /* 介绍栏 */
  .caption {
    background: linear-gradient(to top,
    rgba(25,24,32,1) 46%, 
    rgba(25,24,32,0) 70%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    color: white;
    font-size: 18px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
  }

  /*介绍栏文字*/
  .caption-text{
    position: absolute;
    bottom: 25%;
    left: 2%;
    font: 18px;
  }

  